# Ignore virtual environments
env11/
env/
my_env/
temp_charts/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

